.header
    padding: 10px 0
    height: 40px
    display: flex
    z-index: 100
    border-bottom: 1px solid #757275

.menu
    position: absolute
    left: 50px
    top: 18px

.link
  color: black

  & + &
    margin-left: 8px

  &:visited
    color: black

  &.active
    color: red
